<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h1 class="display-6">Books</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.rating}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>